html {
  font-family: Rubik, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ol,
ul,
ul li,
ol li {
  padding-left: 0;
}

h1 {
  margin: 0;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button:focus {
  outline: none;
}
